$enable-lexicon-flat-colors: true !default;
$enable-shadows: true !default;

$white: #fff !default;
$gray-100: #f7f8f9 !default;
$gray-200: #f1f2f5 !default;
$gray-900: #272833 !default;

$primary: $brand-primary !default;
$secondary: $brand-secondary !default;
