$enable-lexicon-flat-colors: true !default;
$enable-shadows: true !default;

$white: #fff !default;
$gray-100: #f7f8f9 !default;
$gray-200: #f1f2f5 !default;
$gray-900: #272833 !default;

$primary: #00c853; // Emerald Green
$primary-d1: #008e3a;
$primary-d2: #007530;
$primary-l0: #33d375;

$secondary: #1a237e; // Tech Navy
$secondary-l0: #474f97;
$innovation-blue: #00b0ff; // Accent
