.grid-monitor-fragment-container {
	border-left: 5px solid #1a237e;
	padding-left: 1.5rem;
}

.grid-monitor-fragment-container .text-navy {
	color: #1a237e;
}

.grid-monitor-fragment-container .border-innovation {
	border-left: 4px solid #00b0ff !important;
}

.grid-monitor-fragment-container ecopulse-grid-map {
	display: block;
	min-height: 200px;
}
